.contenedor-quehacemos {
    width: 100;
    margin: 20vh auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/NOSOTROS\ IMAGEN\ GRANDE.jpg") center/cover no-repeat; 
}

.fondoquehacemos {
        text-align: none;
        transition: background-color 0.5s ease-in-out;
        background-color: #3498db; /* Puedes cambiar esto a tu color de fondo deseado */
        padding: 20px;
        color: #fff; /* Puedes cambiar esto al color de texto deseado */
    }


.fondo-quehacemos:hover {
    background-color: #ffcccb; /* este color se puede cambiar */
}

.contenido-parrafo {
    margin-bottom: 20;

}

#quehacemos {
    background-color: #0e0b0b7a;
    padding: 35px;
    border-radius: 30px;
    justify-content: center;
    max-width: 600px;
}

.elemento {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    transform: rotate(45deg);
    transition: transform 0.5s ease-in-out;
}

.elemento:hover {
    transform: rotate(90deg);
}


#boton {
    border: none;
    background-color: var(--background-button-color);
    border-radius: 20px;
    padding: 10px 15px;
    color: var(--text-button-color);
    font-size: 10px;
    height: 8%;
    margin: 20px;
}

#boton:hover {
    background-color: var(--mobile-text-color);
}

@keyframes animacionDesplazamiento {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contenedor-quehacemos {
    animation: animacionDesplazamiento 1s ease-out;
}

@keyframes miAnimacion {
    from {
        opacity: 0; /* Inicio invisible */
    }
    to {
        opacity: 1; /* Fin completamente visible */
    }
}

/* Animación al elemento con el ID quenosotros */
#quehacemos {
    animation: miAnimacion 2s ease-in-out; /* Puedes ajustar la duración y la función de temporización según tus preferencias */
}
