/* Cards */

.cards-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo {
    font-size: 60px;
    margin-bottom: 100px;
}


.content-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Añade bordes redondeados a las imágenes */
}

.card p {
    margin: 10px ;
}

/* Puedes agregar más estilos */



